<app-header></app-header>
<div class="container">
  <div class="confirmation-container">
    <h1 class="text-center">Đây là thông tin cá nhân của bạn</h1>
    <form>
      <div class="mb-3">
        <label for="fullname" class="form-label">Họ và tên</label>
        <p type="text" class="form-control" id="fullname"   name="fullname">{{userData.name}}</p>
      </div>

      <div class="mb-3">
        <label for="address" class="form-label">Địa chỉ </label>
        <p type="text" class="form-control" id="address"  name="address">{{userData.address}}</p>
      </div>

      <div class="mb-3">
        <label for="phone_number" class="form-label">Số điện thoại</label>
        <p type="text" class="form-control" id="phone_number"  name="phone_number">{{userData.phone_number}}</p>
      </div>
      <div class="text-center">
        <button class="btn btn-success align-content-center">Cập nhật thông tin</button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
