<app-header></app-header>
<div class="container">
  <div class="confirmation-container">
    <h1 class="text-center">Đây là đơn hàng của bạn</h1>
    <p>Cảm ơn bạn đã đặt hàng! Dưới đây là thông tin chi tiết về đơn hàng của bạn</p>
  </div>
    <div class="row">
      <table>
        <thead>
        <tr >
          <th scope="col" class="text-start">Sản phẩm</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Đơn giá</th>
          <th scope="col">Tổng giá</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td>
            <div class="product-info">
              <img [src]="product.thumbnail" alt="Product Image" class="product-image">
              <span class="product-name">{{ product.productName }}</span>
            </div>
          </td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price | currency:'USD':'symbol':'1.0-0' }}</td>
          <td>{{ (product.price * product.quantity) | currency:'USD':'symbol':'1.0-0' }}</td>
        </tr>
        </tbody>
      </table>

      <div class="text-center mt-3">
        <button class="btn btn-gradient" type="button" routerLink="/home">Tiếp tục mua sắm</button>
      </div>

    </div>
  </div>

<app-footer></app-footer>
