<app-header></app-header>
<div class="container">
  <div class="intro-section">
        <h1>Đây là trang Order</h1>
        <p>Sử dụng Bootstrap</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="product-header">Thông tin người nhận</h2>
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Họ và tên</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="userData.fullname" name="fullname">
        </div>

        <div class="mb-3">
          <label for="address" class="form-label">Địa chỉ </label>
          <input type="text" class="form-control" id="address" [(ngModel)]="userData.address" name="address">
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label">Số điện thoại</label>
          <input type="text" class="form-control" id="phone" [(ngModel)]="userData.phone_number" name="phone_number">
        </div>

        <div class="mb-3">
          <label for="payment-method" class="form-label">Phương thức thanh toán</label>
          <select class="form-control" id="payment-method" [(ngModel)]="selectedPaymentMethod" name="paymentMethod">
            <option *ngFor="let method of paymentMethods" [value]="method">{{ method }}</option>
          </select>
        </div>

      </form>
    </div>
    <div class="col-md-6">
      <h2 class="product-order">Sản phẩm đã đặt hàng</h2>
      <table>
        <thead>
        <tr>
          <th scope="col" class="text-start">Sản phẩm</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Đơn giá</th>
          <th scope="col">Tổng giá</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td>
            <div class="product-info">
              <img [src]="product.thumbnail" alt="Product Image" class="product-image">
              <span class="product-name">{{ product.productName }}</span>
            </div>
          </td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price | currency:'USD':'symbol':'1.0-0' }}</td>
          <td>{{ (product.price * product.quantity) | currency:'USD':'symbol':'1.0-0' }}</td>
        </tr>
        </tbody>
      </table>

      <div class="text-start mt-3">
        <h4 class="header-text text-end">Tổng thanh toán : {{ getTotalPrice() | currency:'USD':'symbol':'1.0-0' }}</h4>
      </div>
      <div class="mt3">
        <h4 class="product-header">Nhập coupon giảm giá</h4>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Nhập coupon">
          <button class="btn btn-gradient" type="button">Áp dụng</button>
        </div>
      </div>

      <div class="text-start mt-3">
        <button class="btn btn-gradient" type="button"  >Đặt hàng</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
